<div class="row">
  <div class="col span-4" style="display:inline-block;vertical-align: top;">
    {{pipeline-history-table
      stageInfo=activity.pipelineSource.stages
      body=activity.activity_stages
      stageIndexLog=logModel.stageIndex
      stepIndexLog=logModel.stepIndex
      showLogsActivity=(action "showLogsActivity")
      activity=activity
      sortBy=sortBy
      bulkActions=true
      search=true
      paging=true
      showHost=true
      showInstanceState=false
      groupByKey=groupBy
      groupByRef="stack"
    }}
  </div>
  <div class="col span-8 pull-right" style="display:inline-block;">
    {{pipeline/pipeline-logs
      instance=logModel
      }}
  </div>
</div>